.container {
    margin: 50px 100px;
}

.basket__content {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.table__names {
    padding: 16px 0px;
    display: flex;
    border-bottom: 1px solid #D9D9D9;
}

.table__names span {
    font-weight: 500;
    font-size: 12px;
    color: #969696;
    text-transform: uppercase;
}

.table__names span:nth-child(1) {
    margin-left: 190px;
    margin-right: 330px;
}

.table__names span:nth-child(2) {
    margin-right: 97px;
}

.table__names span:nth-child(3) {
    margin-right: 87px;
}

.basket__card {
    width: 1000px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.card__title h4 {
    width: 300px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
}

.card__title span {
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #B2B2B2 !important;
}

.basket__card span {
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.basket__card span:nth-child(4) {
    color:#E53030;
}

.basket__card span:nth-child(5) {
    font-weight: 700;
}

.close {
    transition: all .3s;
}

.close:hover {
    transform: scale(1.4, 1.4);
}

.basket__btn {
    padding: 20px 0px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket__btn button{
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px dotted #000000;
    cursor: pointer;
}

.basket__check {
    width: 360px;
    height: 390px;
    padding: 32px;
    background-color: #efeeee;
}

.basket__check h3 {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.check__sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.check__sum span {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.blushing {
    color: #E53030 !important;
}

.check__total {
    padding: 14px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.check__total span {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}

.check__delivery {
    padding: 30px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.delivery__text {
    width: 170px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

.delivery__text span:last-child {
    font-weight: 400;
    font-size: 12px;
    color: #969696;
}